* {
  box-sizing: border-box;
}
body {
  font-family: "Fruktur", cursive;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  display: grid;
  grid-template-areas:
    "7 8 9"
    "4 5 6"
    "1 2 3";
  width: 300px;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0 auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.container div {
  display: flex;
  width: 100px;
  height: 100px;
  border: 3px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  color: black;
  content: "";
  font-size: 42px;
  position: relative;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-top: 10%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
button {
  display: inline-block;
  border: 0;
  color: white;
  background-color: black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  padding: 100px 20px;
  margin-top: 10%px;
  font-weight: bold;
  transition: 1s ease-in-out;
}
#onePlayer {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
#twoPlayers {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
#clear {
  padding: 15px 30px;
  z-index: 1;
  display: inline-block;
  position: relative;
  bottom: 100px;
}
button:hover,
button:active {
  color: black;
  background-color: white;
  transition: 1s;
}
.leaf {
  width: 50px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  bottom: 20px;
  left: 20px;
  cursor: grab;
  overflow: auto;
}
.branch {
  width: 10px;
  height: 60px;
  transform: skewx(10deg);
  background-color: black;
  position: relative;
  right: 5px;
  top: 30px;
}
.slide {
  width: 60%;
  position: relative;
  margin: 30px auto 0;
}

#level {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}
#level::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
  border: 3px solid white;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
}
#level:hover {
  opacity: 1;
}

.previous,
.next {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

.next:hover {
  background-color: #ddd;
  color: black;
}
.previous:hover {
  background-color: black;
  color: white;
}
.previous {
  background-color: #f1f1f1;
  color: black;
  box-shadow: 5px 5px 5px black;
}

.next {
  background-color: black;
  color: white;
  box-shadow: 5px 5px 5px black;
}

.round {
  border-radius: 50%;
}

.levelNumber {
  margin-top: 20px;
  font-size: 24px;
}
.selectLevel {
  padding: 10px 20px;
}
.mode {
  padding: 70px 55px;
  border-radius: 50%;
}
.header {
  text-align: left;
  font-size: 20px;
  background-color: black;
  color: white;
}
.header i {
  margin-left: 1%;
}
.fa-home,
.fa-bars {
  cursor: pointer;
}
.popUp {
  display: none;
  position: relative;
  z-index: 100;
  width: 30%;
  height: 60vh;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 16px;
  color: white;
  box-shadow: 10px 10px 10px black;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.newGame,
.HighScores,
.exitGame {
  position: relative;
  margin-top: 10%;
  width: 90%;
  height: 30%;
  font-size: 2.5rem;
  border-bottom: 1px solid white;
  z-index: 110;
  cursor: pointer;
}
.newGame:hover,
.HighScores:hover,
.exitGame:hover {
  color: red;
  text-shadow: 2px 2px 2px white;
}
#message {
  display: inline-block;
  position: relative;
  top: 230px;
  margin: 100px auto;
}
.allFlex {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
object {
  z-index: -1;
  height: 0;
}
